* {
    margin: 0;
    padding: 0;
    scroll-padding-top: 50px;
}

nav {
    height: 50px;
    background-color: #484848;
    color: #c8c8c8;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: rgb(204, 0, 10);
}

a:hover {
    text-decoration: none;
    color: pink;
}

section {
    min-height: 480px;
    background-color: #484848;
    color: rgb(204, 0, 10);
    padding: 10px;
    border: 2px dotted #8961b5;
}

section:hover {
    background-color: #181818;
    color: rgb(236, 111, 117);
}

.comando-git {
    padding: 5px;
    font-size: 2rem;
    border: 3px solid #9920a3;
    background-color: #c9c8c8;
    color: #484848;
}

p {
    padding: 5px;
}

.git p {
    padding: 5px;
    font-size: 1.30rem;
    border: 3px solid #555555;
    background-color: #313031;
    color: rgb(180, 180, 180);
}

.conteudo {
    margin-top: 50px;
}

h1 {
    font-size: 2rem;
    color: #9920a3;
}

h3 {
    font-size: 1.70rem;
    color: #9920a3
}


.git img {
    padding: 15px;
    width: 650px;
    height: 400px;
}

.git {
    padding: 5px;
}

#projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.projeto {
    height: 300px;
    width: 300px;
    border: #9920a3 solid 5px;
    margin: 10px;
}

.projeto>img {
    width: 100%;
}

.labels span {
    color: white;
    background-color: rgb(194, 1, 49);
    border-radius: 10px;
    padding: 2px 5px;
}

.labels2 span {
    color: white;
    background-color: #6820a3;
    border-radius: 10px;
    padding: 2px 5px;
}

.labels3 span {
    color: white;
    background-color: #4074e4;
    border-radius: 10px;
    padding: 2px 5px;
}

.labels4 span {
    color: white;
    background-color: #b30000;
    border-radius: 10px;
    padding: 2px 5px;
}

#redes_sociais {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.redes>a>img{
    width: 87%;
    padding-top: 15px;
    padding-left: 25px;
}

.redes2>a>img{
    width: 100%;
    padding-top: 30px;
}


.redes3>a>img {
    width: 80%;
    padding-top: 0px;
    padding-left: 30px;
}


.redes {
    color: rgb(254, 220, 255);
    height: 300px;
    width: 300px;
    border: #9920a3 solid 5px;
    margin: 10px;
    padding: 10px;
}

.redes>img {
    width: 75%;
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}


.redes2 {
    color: rgb(254, 220, 255);
    height: 300px;
    width: 300px;
    border: #9920a3 solid 5px;
    margin: 10px;
    padding: 10px;
}

.redes2>img {
    padding: 5px;
    padding-left: 25px;
}


.redes3 {
    color: rgb(254, 220, 255);
    height: 300px;
    width: 300px;
    border: #9920a3 solid 5px;
    margin: 10px;
    padding: 10px;
}

.redes3>img{
    width: 70%;
}


footer{
    padding: 5px;
    background-color: #313031;
    color: #4074e4;
}